<div class="header">
    <div class="search">
        <h2>Find Jobs</h2>
        <div class="searchContainer">
            <i class="fas fa-search searchIcon"></i>
            <input type="text"  id="searchBox"
                placeholder="Search by Name Member ID,Designation" style="border:none; width: 90%;">
            <button id="filter"><img src="../../assets/images/icon filter (1).png"></button>
        </div>
    </div>
    <div class="bellIcons">
        <img src="../../assets/images/Group 5689.png">
    </div>
    <div class="logIcon">
        <img src="../../assets/images/mi_log-out.png">
    </div>
</div>
<div class="content" >
    <div class="box">
    <img src="../../assets/images/shopee.png">
    <b>UI/UX Designer</b><br>Shope.Location
    <p>We are looking for UI/UX Designer to turn out our software into easy to use products for our client</p>
    <div class="text">Full time</div>
    <div class="text">$2000-$3000</div>
    <div class="text">Indoneasia</div>
    <div class="text">Onsite</div>
    <div class="text">Remote</div>
</div>
<div class="box">
    <img src="../../assets/images/ebay.png">
    <b>Product Designer</b><br>ebay.Location
    <p>Product Designer responsibilites include defining product specifications,creating digital or print<br>
         drawing fully-functional product</p>
    <div class="text">Full time</div>
    <div class="text">$2000-$3000</div>
    <div class="text">Indoneasia</div>
    <div class="text">Onsite</div>
    <div class="text">Remote</div>
</div>
<div class="box">
    <img src="../../assets/images/amazon.png">
    <b>UI/UX Designer</b><br>amazon.Location
    <p>We are looking for UI/UX Designer to turn out our software into easy to use products for our client</p>
    <div class="text">Full time</div>
    <div class="text">$2000-$3000</div>
    <div class="text">Indoneasia</div>
    <div class="text">Onsite</div>
    <div class="text">Remote</div>
</div>
</div>
<img src="../../assets/images/businessgirl.png" class="girl-img">
