<div class="sidebar">
    
        <ul>
            <li><img src="../../assets/images/dashboard 1 (1).png">
               <a href="#" >Home</a></li>
            <li><img src="../../assets/images/application (1) 1.png">
               <a href="#"> Profile</a></li>
            <li><img src="../../assets/images/settings 1.png">
                <a href="#">Settings</a></li>
            <li><img src="../../assets/images/logout (2).png">
                <a href="#">Logout</a></li>
        </ul>
    
</div>